section{
  padding: 5rem 0;
}
.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
}
.grid-five-column {
    grid-template-columns: repeat(4, 1fr) 0.3fr;
    text-align: center;
    align-items: center;
  }
  .cart-heading {
    text-align: center;
    text-transform: uppercase;
  }
  hr {
    margin-top: 1rem;
  }
  .cart-item {
    padding: 0rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .cart-user--profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 5.4rem;
  }
.cart-user--profile img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.cart-user--profile h2 {
    font-size: 2.4rem;
}
  
.cart-user--name {
   text-transform: capitalize;
}
.cart-image--name {
    /* background-color: red; */
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    text-transform: capitalize;
    text-align: left;
}
.cart-image--name img {
      max-width: 5rem;
      height: 5rem;
      object-fit: contain;
      color: transparent;
      margin-top: -0.9rem;
}
.cart-image--name .color-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.color-style {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-top: -0.7rem;
    margin-left: -0.5rem;
}
  
.cart-two-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.cart-two-button .btn-clear {
    background-color: #e74c3c;
    color: #fff;
}
.cart-two-button .btn-continue_shopping{
  background-color: rgb(98 84 243);
    color: #fff;
}
.cart-button .amount-toggle { 
  justify-content: space-evenly !important;
}

.amount-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    font-size: 1.4rem;
}
.cart-button .cart-btn {
  font-size: 0.7rem !important;
}
.amount-toggle button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.amount-toggle .amount-style {
    font-size: 1.2rem !important;
    color:rgb(98 84 243);
}
.remove_icon {
    font-size: 1rem;
    color: #e74c3c;
    cursor: pointer;
    margin-top: -1.3rem;
}

.order-total--amount {
    width: 100%;
    margin: 2.8rem 0;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.order-total--amount .order-total--subdata {
      border: 0.1rem solid #f0f0f0;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding: 1.2rem;
    }
.order-total--amount div {
      display: flex;
      gap: 3.2rem;
      justify-content: space-between;
    }
.order-total--amount div:last-child {
      background-color: #fafafa;
    }
.order-total--amount div p:last-child {
      font-weight: bold;
      color: rgb(24 24 29);
    }

  @media (max-width: 768px) {
    .grid-five-column {
      grid-template-columns: 1.5fr 1fr 0.5fr;
    }
    .cart-hide {
      display: none;
    }
    .cart-two-button {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 2.2rem;
    }
    .order-total--amount {
      width: 100%;
      text-transform: capitalize;
      justify-content: flex-start;
      align-items: flex-start;
    }
      .order-total--subdata {
        width: 100%;
      border: 0.1rem solid #f0f0f0;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding: 3.2rem;
    }
  }